.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.link {
  color: white;
  text-transform: capitalize;
}

.link:hover {
  color: #f05423;
}

.home {
  width: 85%;
}

.home h1 {
  color: #f05423;
}

.warning {
  position: absolute;
  right: 12px;
  cursor: pointer;
  margin: 4px;
}

.navigation .toggle {
  place-content: center;
  color: white;
}
